{% for piece in dic %}
    <div>
        <h2 class="title" data-url="/passage/{{ piece.passage.id }}">{{ piece.passage.Title }}</h2>
        <div class="pic_box">
        {% for Pic in piece.thumnailLs %}
            <img src="/showThumnail/{{ Pic.CompressedImageName }}" alt=1>
        {% endfor %}
        </div>
        <div class="left_box">
            <div class="summary" data-url="/passage/{{ piece.passage.id }}">{{ piece.passage.ShortContent }}</div>
        </div>
        <div class="bottom_box">
            <div class="read">
                <p>阅：</p>
                <p>{{ piece.passage.ReadTimes }}</p>
            </div>
            <div class="comments">
                <p>评：</p>
                <p>{{ piece.passage.CommentTimes }}</p>
            </div>
            <div class="date">{{ piece.passage.Time }}</div>
        </div>
        <div class="clear"></div>
    </div>
{% endfor %}
        